body{
    margin: 0;
    max-width: 100%;
    flex-wrap: wrap;
}

#menu{
    display: inline-flex;
    width: 100%;
    height: 5rem;
    background-color: rgb(252, 252, 252);
    align-items: flex-end;
    justify-content: center;
    
    
}

#menu img{
    align-items: center;
}
.icons{
    display: flex;
    text-align: end;
    height: 2rem;
}

#header{
   width: 100%;
    margin:0;
}

#header img{
    align-items: center;
    width: 100%;
}


.bar-desc{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5rem;
    background-color:#fff;
    box-shadow:  5px 5px 5px rgb(167, 164, 164);
   
    
}


.bar-desc h2{
    align-items: flex-start;
    margin-left: 5rem;
    text-transform: uppercase;
    flex-wrap: wrap ;
    
}
.quantidade{
    justify-content: end;
    align-items: flex-end;
    margin-right: 5rem;
}

.produtos{
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 20px;
    color: green;
}

.produtos img{
    flex-wrap: wrap;
    width: 15rem;
    height: 14rem;
}

.box{
    display: grid;
    align-content: space-between;
    padding: 3rem;
}

.valor-produto{
    display: inline-flex;
}
 

 .contato{
     display: inline-flex;
     width: 100%;
     background-color: rgb(210, 215, 219);
     /* padding: 0 5rem; */
     color: #000;
 }

 .contato a,
 label {
     color: #000;
     font-weight: bold;
     text-decoration: none;
     align-content: space-around;
 }

 .links{
    flex-direction: column;
    align-items: center;
    padding: 5rem;
 }

 .contato .newslatter{
     
     align-items: flex-end;
     justify-content: right;
     padding: 5rem;
 }


input{
    width: 15rem;
    height: 2rem;
}


 button{
     width: 8rem;
     height: 3rem;
     color: #fff;
     font-weight: bold;
     background-color: rgb(73, 156, 73);
     border-radius: 5%;
 }

 footer{
     display: inline-flex;
     position: absolute;
     width: 100%;
     color: #fff;
     height: 5rem;
 }

 footer .icon-redes{
     align-items: flex-start;
 }

.icons-pagamentos{
     text-align: end;
     align-items: flex-end;
 }
 @media only screen and (max-width: 600px){
     .bar-desc h2{
         font-size: 16px;
     }
    .contato {
        
        flex-direction: column;
       
    }
    .newslatter{
        flex-direction: column;

    }
    button{
        width: 70%;
        align-items: center;
    }
    footer{
        display: inline-flex;
    }

 }
